
.gallery-section {
  background-color: #fff;
}

.gallery-wrapper {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.gallery-block {
  background-color: var(--muted-navy); 
  border-radius: 16px;
  width: 100%;
  overflow: hidden;
  height: 280px;
  transition: all 0.3s ease;
}


/* .gallery-block:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
} */


.gallery-block.small {
  height: 300px;
}

.gallery-block.tall {
  height: 550px;
}

.gallery-block.taller {
  height: 604px;
}

.gallery-block.tallest {
  height: 558px;
}

.gallery-block.wide {
  height: 350px;
}

.gallery-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;      
  transition: transform 0.4s ease;
}

.gallery-block:hover img {
  transform: scale(1.1); 
}

@media (max-width: 991px) {
  .gallery-block.tall {
    height: 400px;
  }
}

@media (max-width: 767px) {
  .gallery-block {
    height: 200px;
  }
  .gallery-block.tall {
    height: 300px;
  }
}
