.contact-card h1 {
  font-weight: 600;
}
.contact-card p {
  font-size: large;
  color: #555;
  /* max-width: 50ch; */
}
.contact-card img {
  max-width: 400px;
}
@media (max-width:768px){
  .contact-car{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width:576px) {
  
  .contact-card img{
    width: 320px !important;
  }
  
}