.card-two {
    width: 350px;
    margin-bottom: 20px;     
    height: 100%;           
    display: flex;          
    flex-direction: column; 
    overflow: hidden; 
}

.image-wrapper {
  width: 100%;      
  overflow: hidden;   
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;      
  transition: transform 0.4s ease;
}


.card-two-content {
    /* border: 1px solid black; */
    background-color: rgb(255, 255, 255);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   

}
.card-two-content h3{
    height: 75px;      
}


.card-two:hover img {
  transform: scale(1.1); 
}