.card-two {
    width: 350px;
    margin-bottom: 20px;     
    height: 100%;           
    display: flex;          
    flex-direction: column; 
    overflow: hidden; 
}

.image-wrapper {
  width: 100%;      
  overflow: hidden;   
}

.image-wrapper img {
  width: 100%;
  height: 300px;
  object-fit: cover;      
  transition: transform 0.4s ease;
}


.card-two-content {
    /* border: 1px solid black; */
    background-color: rgb(255, 255, 255);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   

}
.card-two-content h3{
    height: 75px;      
}


.card-two:hover img {
  transform: scale(1.1); 
}

@media (min-width: 1440px) {
    .card-two {
        width: 400px;       
    }
}


@media (max-width: 1000px) {
    .card-two-content h3{
      font-size: 24px;   
      height: 55px;   
    }
    .card-two {
        width: 320px;       
    }
}