.curved-hero {
  position: relative;
  width: 100%;
  height: 90vh;        
  overflow: hidden;
}

.curved-inner { 
    display: flex; 
    height: 100%; 
    width: 100%; 
    justify-content: center; 
    align-items: center; 
    perspective: 1300px; 
    transform-style: preserve-3d; 
}

.heroo-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  z-index: 10;
}

.heroo-text h1 {
  font-size: 3rem;   
  font-weight: 600;
}

.heroo-text p {
  font-size: 1.2rem;
  margin-top: 10px;
  opacity: 0.8;
}

.panel {
  flex: 1;               
  height: 100%;
  overflow: hidden;
  position: relative;
  transform-origin: center;
}

.panel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p1 {
  transform: rotateY(28deg) translateZ(-100px);
}

.p2 {
  transform: translateZ(-180px);
}

.p3 {
  transform: rotateY(-28deg) translateZ(-100px);
}


@media (min-width:1440px){
  .p2 {
  transform: translateZ(-210px);
   }
}

@media (max-width:576px){
  .p1 {
     display: none;
  }
  .p3 {
     display: none;
  }
  .p2{
    border-radius: 20px;
  }
}