.custom-card {
  position: relative;
  width: 100%;
  max-width: 250px;
  height: 350px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  background-color: #000;
  margin: 0 auto;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease, opacity 0.3s ease;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background 0.5s ease;
  display: flex;
  align-items: flex-end;
  padding: 20px;
}

.text-content {
  width: 100%;
  position: relative;
  bottom: 0%;
  transition: all 0.5s ease;
  color: #fff;
}

.card-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0;
}

.card-description {
  margin: 0;
  margin-top: 10px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.custom-card:hover .card-img {
  transform: scale(1.1); 
}

.custom-card:hover .card-overlay {
  background: rgba(0, 0, 0, 0.2); 
}

.custom-card:hover .text-content {
  bottom: 2%; 
}

.custom-card:hover .card-description {
  opacity: 1;
  max-height: 150px;
  overflow-y: hidden;
}

@media (max-width: 576px) {
  .custom-card {
    max-width: 96%;
    height: 400px;
  }
  .text-content {
    bottom: 25%;
  }
}

@media (min-width: 1400px) {
  .custom-card {
    max-width: 300px;
    height: 420px;
  }
}

