:root{
    --teal: #25B7A3;
    --earth-green: #3CB043;
    --sky-blue: #1E90FF;
    --dark-blue: #004AAD;
    --black: #222222;
    --white: #FFFFFF;

    --light-teal: #A8E6E0;
    --soft-blue: #7FB3FF;
    --muted-navy: #002C6A;
    --warm-gray: #F5F5F7;
    --off-white: #FAFAFA;
}