.sc-wrapper {
  width: 100%;
}

.sc-header {
  margin-bottom: 30px;
  font-size: 20px;
}

.sc-header h1 {
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
}

/* .sc-middle {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}

.sc-middle ul {
  list-style: none;
  margin-top: 30px;
  padding: 0;
}

.sc-middle li {
  display: flex;
  margin: 20px 0;
  font-size: 20px;
} */

.tick {
  color: var(--teal);
  margin-right: 8px;
}

.sc-img-large {
  width: 50%;
}

.sc-img-large img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.sc-bottom {
  display: flex;
  gap: 20px;
}

.sc-img-small {
  width: 50%;
}

.sc-wrapper .img-wrapper {
  overflow: hidden;
}

.sc-img-small img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.sc-wrapper .img-wrapper:hover img {
  transform: scale(1.1);
}



.sc-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 300px;
  grid-template-areas:
    "points large"
    "small1 small2";
  gap: 20px;
}

.points {
  grid-area: points;
}

.large {
  grid-area: large;
}

.small1 {
  grid-area: small1;
}

.small2 {
  grid-area: small2;
}


.sc-grid .img-wrapper {
  overflow: hidden;
  border-radius: 6px;
}

.sc-grid .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.sc-grid .img-wrapper:hover img {
  transform: scale(1.1);
}

.points ul {
  list-style: none;
  margin-top: 30px;
  padding: 0;
}

.points li {
  margin: 20px 0;
  font-size: 20px;
}
