.amenities-page{
  padding-bottom: 10rem;
}

.full-tree{
  padding: 3rem 0 10rem;
}

.amenities-hero {
  width: 100%;
  height: 100dvh;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid grey;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.amenities-overlay {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.55);
  backdrop-filter: blur(1px);
}

.amenities-hero-img {
  display: none;
}

.amenities-hero-text {
  text-align: center;
  color: #000;
  z-index: 3;
}

.amenities-hero-text h1 {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.amenities-hero-text p {
  font-size: 1.2rem;
  max-width: 600px;
  line-height: 1.6;
}

/* Responsive */
@media (max-width: 768px) {
  .amenities-hero {
    height: 320px;
  }

  .amenities-hero-text h1 {
    font-size: 2.4rem;
  }
}

@media (max-width: 480px) {
  .amenities-hero {
    height: 260px;
  }

  .amenities-hero-text h1 {
    font-size: 2rem;
  }
  .amenities-page{
    padding-bottom: 0;
  }
  .full-tree{
    padding:  0!important;
  }
  .amenities-hero-text h1 {
  font-size: 1.8rem;
}

.amenities-hero-text p {
  font-size: 1rem;
}
}

