.pricing-card-outline{
  clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
 
  background: linear-gradient(to bottom right,var(--teal));
  padding: 6px;
  width: 370px;
  height: 500px;
}
.pricing-card{
    /* clip-path: polygon(9% 0, 91% 0, 100% 9%, 100% 91%, 91% 100%, 9% 100%, 0 91%, 0 9%); */
    clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
 
    background-color: white;
    height: 100%;
}
.pricing-heading a i:hover{
    color: var(--dark-blue) !important;
}