footer{
    background: var(--teal);
}

footer a:hover {
  color: var(--muted-navy) !important;
}

footer .social-media-links a:hover{
  color: white !important;
  opacity: 0.9 !important;
}

@media (max-width:576px) {
  .links{
    flex-direction: column;
    align-items: start !important;
    gap: 0rem !important;
  }
}