.hero {
    position: relative;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
}

.hero-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%) scale(1.3) rotate(-45deg);
    transform-origin: center;
    opacity: 0;
    animation: heroZoom 2s ease-out forwards;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.208); /* dark blue overlay */
    opacity: 0;
    animation: overlayFade 1s ease forwards;
    animation-delay: 1.5s;
}

.hero-text {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    /* max-width: 45ch; */
    opacity: 0;
    animation: textFade 1s ease forwards;
    animation-delay: 1s;
}

.hero-text h1 {
    font-size: 2.1rem;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 1rem;
    max-width: 50ch;
}

/* ANIMATIONS */
@keyframes heroZoom {
    0% {
    transform: translate(-50%, -50%) scale(2) rotate(-45deg);
    opacity: 0;
    }
    50% {
    opacity: 1;
    }
    100% {
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
    opacity: 1;
    }
}

@keyframes overlayFade {
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
}

@keyframes textFade {
    from {
    opacity: 0;
    transform: translate(-50%, -40%);
    }
    to {
    opacity: 1;
    transform: translate(-50%, -50%);
    }
}

@media (min-width:1400px) {
    .hero-text h1 {
    font-size: 2.6rem;
    }

    .hero-text p {
        font-size: 1.2em;
    }
}