.secondaryBtn{
    padding: 1.4rem 2rem;
    border: none;
    border-radius: 1000px;
    font-size: 1.2rem;
    font-weight: 500;
    background: white;
    color: var(--muted-navy);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.secondaryBtn::after{
    content: "";
    border-radius: 1000px;
    position: absolute;
    height: 112%;
    width: 103%;
    background: linear-gradient(to bottom right,var(--teal),var(--muted-navy),var(--dark-blue));
    z-index: -1;
}
.secondaryBtn:hover{
    z-index: 0;
    color: var(--off-white);
}