.header {
  height: 70px;
  box-sizing: border-box;
  padding: 1.4rem 3rem;
  z-index: 70;
}
.fixed-header {
  background-color: #000000;
  box-shadow: 0 0 20px #181818;
  transition: 0.3s ease;
}
.header img {
  height: 70px;
}

.header-nav > ul {
  gap: 40px;
}

.header-link {
  box-sizing: border-box;
  gap: 10px;
  cursor: pointer;
  padding: 10px 0 10px 10px;
  color: var(--muted-navy);
  font-size: 1.25rem;
  transition: color 0.2s;
}

.header-link:hover {
  color: var(--dark-blue);
}