.about{
    padding: 0 5%;
}

.values .value-card{
  background: white;
}

.who-we-are {
  display: flex;
  flex-wrap: wrap; 
  
  background: #f8f8f8;
  padding: 40px;
}

.who-we-are .content {
  flex: 1 1 500px; 
  background: white;
  padding: 50px 40px;
}

.who-we-are .image-col {
  flex: 1 1 400px;
  display: flex;
  align-items: center;
}


.aft {
  position: relative;
  display: inline-block; 
}

.aft::after {
  content: "";
  position: absolute;
  right: -125px;
  bottom: 30%;
  transform: translateX(-50%);
  height: 1px;
  width: 80px;
  background: black; 
  border-radius: 2px;
}


.who-we-are h2 {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--muted-navy);
}

.who-we-are p {
  margin: 15px 0 30px 0;
  font-size: 1rem;
  font-weight: medium;
}

.who-we-are .about-imgg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width:426px) {
  .content h2{
    font-size: 2.1rem;
  }
  .content p{
    font-size: 1rem !important;
  }
  .who-we-are{
    padding: 0 !important;
  }
  .who-we-are .content{
    flex: 1 1 200px; 
    padding: 10px;
  }
}