.tree-container {
  width: 100%;
  height: auto;
  min-height: 600px;
  position: relative;
  background: #fafafa;
  overflow: visible;
  padding-bottom: 200px;
}

.lines {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  overflow: visible;
  pointer-events: none;
}

/* Nodes */
.tree-node {
  position: absolute;
  min-width: 160px; 
  white-space: nowrap; 
  overflow: visible;  
  height: auto;
  min-height: 50px;
  background: var(--teal);
  color: white;
  border: 2px solid var(--muted-navy);
  border-radius: 12px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 10px;
  font-size: 20px;
  font-weight: 500;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  white-space: nowrap;
  z-index: 10;
}

.tree-node:hover {
  transform: translate(-50%, -50%) scale(1.08);
  box-shadow: 0px 10px 25px rgba(0,0,0,0.25);
}

.popup {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  
  width: 250px !important;   
  max-width: 250px;
  
  white-space: normal !important;
  word-wrap: break-word;
  color: black;
  background: white;
  border: 1px solid #b6b6b6;
  padding: 12px;
  font-size: 16px;
  border-radius: 12px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
  z-index: 9999;
}

.tree-node:hover .popup {
  opacity: 1;
  transform: translateX(-50%) translateY(5px);
}



/* -------------------------------------
   RESPONSIVENESS
-------------------------------------- */
@media (max-width: 900px) {
  .tree-node {
    width: 130px;
    font-size: 13px;
  }
  .popup {
    width: 150px;
  }
}

@media (max-width: 600px) {
  .tree-container {
    transform: scale(0.8);
    transform-origin: top center;
  }
}

@media (max-width: 450px) {
  .tree-container {
    transform: scale(0.65);
  }
  .tree-node {
      min-width: 140px;
      min-height: 50px;
      padding: 10px 14px;
      font-size: 12px;
      font-weight: 500;
      z-index: 10;
    }
}
